nav {
    float: left;
}

#navbar {
    width: 25%;
    height: 1750px;
    margin-right: 60px;
    border-right: 1px solid black;
}

#header {
    text-align: center;
}

.nav-links {
    display: block;
    padding: 15px;
    border-bottom: 1px solid black;
}

a:link {
    color: rgb(22, 22, 85);
    text-decoration: none;
    font-size: 20px;
}

a:visited {
    color: rgb(22, 22, 85);
}

a:hover {
    text-decoration: underline;
}

#header-img {
    width: 352px;
 }

main {
    float: left;
    width: 70%;
}

#main_doc {
    padding-left: 10px;
}

header {
    font-size: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
}

strong {
    font-size: 18px;
}

p {
    line-height: 1.5;
    padding-left: 15px;
}

code {
    display: block;
    white-space: pre;
    background-color: lightgray;
}

nav > ul {
    list-style-type: none;
}
